@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Zen+Loop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

body {
    width: 100%;
    min-width: 728px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.header {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 8px 0 8px 0;
  font-size: 2em;
  text-align: center;
  background-color: #ef9e9f;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 0 15px 0 15px;
}

.explain {
  width: 100%;
  margin: 0 0 5px 0;
  font-size: 18px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}

.sliderItem p {
  margin: 0 14px 5px 0;
}

.sliderItem {
  display: flex;
}

.buttons {
  position: relative;
}

.key_button {
  width: 50px;
  height: 40px;
  font-size: 16px;
}

.area_display {
    width: 100%;
    height: 90%;
    z-index: 1;
    margin: 0 0 10px 0;
    background-color: #1d1d1d;
    color : #FFF;
    position: relative;
}

.area {
    width: 100%;
    height: 90%;
    z-index: 3;
    position: relative;
}

.display {
    font-size: 20px;
    font-family: 'Zen Loop';
    border-collapse: collapse;
    margin: 0 auto;
    line-height: 80%;
}

tr {
    margin-top: -10px;
}

td {
    text-align: center;
    vertical-align: center;
}

.kakao_ad {
  margin: 0 auto 5px auto;
}

.footer {
  text-align: center;
  background-color: #a3c9c7;
}

.footer p {
  margin-top: 4px;
}