@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Zen+Loop&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-weight: 600;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
  width: 100%;
  padding: 8px 0 8px 0;
  font-size: 2em;
  text-align: center;
  background-color: #D499B9;
}

.area_display {
    width: 100%;
    height: 90%;
    z-index: 1;
    background-color: #1d1b1b;
    color : #FFF;
    position: relative;
}

.area {
    width: 100%;
    height: 90%;
    z-index: 3;
    position: relative;
}

.display {
    font-size: 20px;
    font-family: 'Zen Loop';
    border-collapse: collapse;
    margin: 0 auto;
    line-height: 80%;
}

tr {
    margin-top: -10px;
}

td {
    text-align: center;
    vertical-align: center;
}

.text {
    display: flex;
}

.text p {
    margin-right: 10px;
}